<% content_for :javascript_includes do %>
    <%= javascript_include_tag "map.js" %>
<% end %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= image_tag "IslaVistaFoodFinderMapView.png", class: "style_logo" %>

<!--<script type="text/javascript"> -->

  <!-- var countClicks = 1; -->

  <!-- function upCount() {  -->
    <!-- countClicks++ -->
  <!-- } -->

<!--</script>-->

<div class="map_container">
<!--   <p class="center" style="padding-top: 275px; margin: auto; padding-left: 45px; float: left;"><input type="button" name="click" value="Show More Deals" id="click" onclick="upCount();"/></p> -->
  <div id="map_canvas" class="map_canvas"></div>
</div>

<script type="text/javascript">
    // <% if @lat.present? && @lng.present?%>
    //     getViewerLocation(<%= @lat %>, <%= @lng %>);
    // <% else %>
    //     findUser();
    // <% end %>
    findUser();
</script>
