// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 50px;
    left: 250px;
    bottom: 30%;
    min-width: 500px;
    min-height: 281px; // Ratio 16:9
    margin: 0;
    padding: 0;
}

.center_graph {
    margin-left: 350px;
    margin-right: 150px;
    text-align: center;
}

.center{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

// Only change these colors to modify the color scheme
.side_bar_color_scheme {
    background-color: #23233E; // Blue
    border-color: #111;        // Black
    color: #FFFFFF;            // White - color of text on buttons
}

.side_bar_color_scheme_hover {
    background-color: #45456F; // lighter green
}

.bg_color {
    background: #5AA890; // color of the whole page
}

.side_bar {
    @extend .side_bar_color_scheme;
    position: absolute;
    left: 0;
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-color: #111;
    top: 52px;
    bottom: -25%; // so scrolling will not see bottom
    width: 200px;
}

.side_bar_item {
    @extend .side_bar_color_scheme;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.side_bar_button {
    @extend .side_bar_item;
} .side_bar_button:hover {
    @extend .side_bar_color_scheme_hover;
    cursor: pointer;
    border-radius: 8px;    // round edges
}

.side_bar_dropdown {
    color: black;
    width: 100%;
    padding-left: 20%;
} .side_bar_dropdown:hover {
    cursor: pointer;
    border-radius: 4px;    // round edges
    background-color: #DDDDDD; // light grey
}
