// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}

.map_container .map_canvas{
    position: absolute;
    width: 65%;
    top: 0;
    right: 10%;
    bottom: 30%;
    left: 25%;
    margin: 0;
    padding: 0;
}

.center {
  text-align: center;
}


.side_bar {
    position: relative;
    width: 15%;
    height: 60%;
    top: 20%;
    right: 75%;
    bottom: 30%;
    left: 10%;

    background-color: #AAAAAA // grey - just used to tmporarily display size
}

.side_bar_button {
    width: 100%;
    padding: 10px;
    color: #111111;        // black - color of text on buttons
    background: #CCCCCC;   // grey  - color of the actual button
    border-color: #111111; // black
    border-radius: 8px;    // round edges
}

.side_bar_dropdown {
    padding-left: 20%;
    background-color: #CCCCCC; // grey
}

// display a color when hovering over the buttons
.side_bar_button:hover, .side_bar_dropdown:hover {
    cursor: pointer;
    background-color: #EEEEEE; // light grey
}